{% extends "base.html" %}

{% block title %}Ver Clientes - BiblioSystem{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <div>
        <h4 class="fw-bold">Clientes Registrados</h4>
        <p class="text-muted">Lista de todos los clientes</p>
    </div>
    <a href="/empleado" class="btn btn-biblioteca">
        <i class="fas fa-arrow-left me-2"></i>Volver
    </a>
</div>

<div class="card">
    <div class="card-body p-0">
        <table class="table table-hover mb-0">
            <thead style="background-color: var(--verde-oscuro); color: white;">
                <tr>
                    <th>ID</th>
                    <th>Nombre</th>
                    <th>Cédula</th>
                    <th>Teléfono</th>
                    <th>Dirección</th>
                </tr>
            </thead>
            <tbody>
         {% for cliente in clientes %}
            <tr>
                <td>{{ cliente.get_id() }}</td>
                <td>{{ cliente.get_nombre() }}</td>
                <td>{{ cliente.get_cedula() }}</td>
                <td>{{ cliente.get_telefono() }}</td>
                <td>{{ cliente.get_direccion() }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}